@model OnlineFood.Models.Shift

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioKetThuc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a href="javascript:history.back()" class="btn btn-outline-secondary px-4">Back to List</a>

</div>
