@model OnlineFood.Models.Promotion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Promotion</title>
    <link rel="stylesheet" href="~/css/CreatePromotions.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Add Bootstrap, Bootstrap Datepicker CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<h1>Details</h1>

<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTram)
        </dd>
        <!------------------------------------------->
      
        <!------------------------------------------->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>