@model OnlineFood.Models.Promotion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTram)
        </dd>
        <!------------------------------------------->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderLimit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderLimit)
        </dd>
        <!------------------------------------------->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
