@{
    var foods = ViewData["Foods"] as List<Food>;
}

@foreach (var food in foods)
{
    <div class="col-md-3 mb-4 food-item" style="font-family: 'Titan One', sans-serif; cursor: pointer"
         onclick="showFoodDetails(@food.Id)">
        <div class="card bg-dark text-white position-relative" style="height: 40vh">
            <img src="@food.Hinhanh" class="card-img-top h-50" alt="Item" style="height: 10vh; object-fit: contain; width: 20vw;">
            <div class="card-body">
                <h5 class="card-title">@food.TenMonAn</h5>
                <p class="card-text">@String.Format("{0:N0}", food.GiaTien * 1000) VND</p>
                <p class="card-text position-absolute start-1 bottom-0">
                    SL:
                    <!-- Input để nhập số lượng -->
                    <input type="number" min="1" value="1" class="form-control d-inline-block quantity" style="width: 80px; border-radius: 50px" text-align: center;">
                </p>
                <button class="add-to-cart btn btn-warning btn-custom_fastfood position-absolute end-0 bottom-0 mx-3 my-2"
                        style="font-size: 0.5rem"
                        onclick="event.stopPropagation(); addToCart(@food.Id)">
                    <i class="bi bi-cart-plus"></i>
                </button>
            </div>
        </div>
    </div>
}