@model Food

<div class="modal-body text-center">
    <!-- Ảnh món ăn -->
    <img src="@Model.Hinhanh" alt="@Model.TenMonAn" class="img-fluid mb-3" style="max-height: 300px; object-fit: contain;">

    <!-- Tên món ăn -->
    <h5 style="font-family: 'Titan One', sans-serif; margin-top: 10px;">@Model.TenMonAn</h5>

    <!-- Giá món ăn -->
    <p  style="font-size: 1.2rem; font-weight: bold; font-family: 'Titan One', sans-serif;">
        @String.Format("{0:N0}", Model.GiaTien * 1000) VND
    </p>

    <!-- Mô tả món ăn -->
    <p>@Model.Mota</p>
</div>
