@{
    ViewData["Title"] = "Home Page";
    var foods = ViewData["Foods"] as IEnumerable<Food>;
    var foodCategories = ViewData["FoodCategories"] as IEnumerable<FoodCategory>;
    var currentPage = ViewData["CurrentPage"] as int? ?? 1;   // Lấy trang hiện tại
    var totalPages = ViewData["TotalPages"] as int? ?? 1;     // Tổng số trang
}
<!DOCTYPE html>
<html>
<head>
    <title>Conncac</title>
</head>

<body class="w-100 h-100">

    <div class="text-white SVN-Studio-Brush-900-size3rem m-5 h-500px">
        <p class="ml-80px mb-0">ĂN FOOD NGON</p>
        <p class="ml-150px mt-0">ĐẶT FOODIY</p>
    </div>
    @* Banner *@
    <div class="w-100 h-1080">
        <div class="container w-100 h-100 d-flex justify-content-center align-items-center">
            <div class="col-7 col-1-linear-gradient h-50 rounded-10 w-70 mx-4 position-relative mw-100 mh-100">
                <img class="position-absolute h-500px top-minus-30 zindex-0" src="~/assets/image/Professional_food_photographer_Dubai_-_Riyadh___Orkun_Örcan-removebg-preview.png" />
                <img class="position-absolute zindex-1 start-15 top-30" src="~/assets/image/Indulge_in_KFC_Wow_Bucket_with_Jalapeño_Cheese_Poppers_-_Order_Now_-removebg-preview 1.png" />
                <img class="position-absolute end-minus-3 top-minus-38 " src="~/assets/image/loa.png" />
                <span class="text-white text-center position-absolute end-14 top-10" style="font-family:'Titan One', sans-serif; font-size: 3rem">TO DAY</span>
                <span class="text-white text-center position-absolute end-8 top-10 mt-3 " style="font-family:'Titan One', sans-serif; font-size: 8rem">NEW</span>
                <button class="btn-trynow position-absolute bottom-10 end-minus-8 translate-middle">TRY NOW</button>
            </div>
            <div class="col-5 h-50">
                <div class="row h-60 h-50 combo-linear-gradient rounded-10 mb-3 position-relative">
                    <img class="top-0 start-0 w-50 h-100 zindex-1 " src="~/assets/image/Social_media_Selected_Vol_no_1-removebg-preview 1.png" />
                    <button class="btn-explore position-absolute top-10 end-5">EXPLORE</button>
                    <img class="position-absolute end-5 top-0 h-100 w-50" src="~/assets/image/Fried_Chicken_-_Broastec-removebg-preview 1.png" />
                    <img class="position-absolute start-55 top-25 h-100 w-50" src="~/assets/image/Aquele_Combo_De_Hot_Dog_Social_Media_PSD_Editável-removebg-preview 1.png" />
                </div>
                <div class="row h-37 gap-2">
                    <div class="col tacos-background-color rounded-10 position-relative h-100 w-100">
                        <div class="w-40 h-100 mw-50 mh-100" style="background-color: #F9BC4A">
                            <p class="h-100 w-100 py-4 text-center" style="font-family:'SVN-Studio Brush', sans-serif; color: white; font-size: 1.8rem; line-height: 3rem"> <span style="color: #B92727">5</span> TACOS FOR <span style="color: #B92727">22K</span> ALL DAY</p>
                        </div>
                        <img class="w-70 h-50vh position-absolute end-minus-5 top-0 mw-70 mh-100" src="~/assets/image/Maxican_Tacos_Tuesday_Social_Media_Post_Or_Banner___PSD_Free_Download_-_Pikbest-removebg-preview 1.png" />
                    </div>
                    <div class="col hotdog-background-color rounded-10 h-100 w-100 m-0 position-relative">
                        <img class="start-0 top-0 w-50 h-30vh position-absolute mw-50 mh-100" src="~/assets/image/Hot_Dog_Social_Media_Post_Template_Design___PSD_Free_Download_-_Pikbest-removebg-preview 1.png" />
                        <div class="w-40 h-100 position-absolute end-5 top-0 mw-50 mh-100" style="background-color: #1A540D">
                            <p class="h-100 w-100 py-4 px-2 text-center" style="font-family:'SVN-Studio Brush', sans-serif; color: white; font-size: 1.8rem; line-height: 3rem"> BUY <span style="color: #3BE116">1</span> GET <span style="color: #3BE116">1</span> <span style="color: #3BE116">FREE</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Fast-food-Menu*@
    <div class="container w-100 h-1080" style="margin-bottom:100px">
        <div class="row justify-content-center align-items-center">

            <!-- Danh sách món ăn -->
            <div class="col d-flex justify-content-around align-items-center" style="font-family: 'Titan One', sans-serif">
                <!-- Mỗi item được lặp lại ở đây -->
                @foreach (var category in foodCategories)
                {
                    <div style="cursor: pointer" class="food-item text-center" onClick="ShowDetails('@category.Hinhanh', '@category.TenDanhMuc')">
                        <img src="@category.Hinhanh" class="img-fluid object-fit-fill" alt="@category.TenDanhMuc" style="width: 8vw; height: 20vh; cursor:pointer">
                        <p class="mt-2 text-white">@category.TenDanhMuc</p>
                    </div>
                }
            </div>



            <!-- Div hiển thị thông tin chi tiết -->
            <div class="row justify-content-center align-items-center" style="font-family: 'Titan One', sans-serif; min-height: 40vh;">
                <div class="col-auto text-center">
                    <img id="detailImg" class="img-fluid" style="width: 10vw; height: 30vh;">
                    <p class="text-white" id="detailName" style="font-size: 2rem; color:white"></p>
                </div>
            </div>


            <div class="row mt-4" id="foods-container">
                <!-- Card món ăn -->
                @await Html.PartialAsync("_FoodListPartial", foods);

            </div>
            <!-- Optional: Bootstrap modal để hiển thị chi tiết -->
            <div class="modal fade" id="productDetailsModal" tabindex="-1" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" id="product-details-container">
                            <!-- Chi tiết sản phẩm sẽ được tải ở đây -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Phân trang -->
            <nav>
                <ul class="pagination justify-content-center" id="pagination">
                    <!-- Nút Previous -->
                    <li id="previous" class="page-item disabled">
                        <a class="page-link" href="javascript:void(0);" onclick="loadFoods(currentPage - 1)">Previous</a>
                    </li>

                    <!-- Hiển thị các trang -->
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")" id="page-@i">
                            <a class="page-link" href="javascript:void(0);" onclick="loadFoods(@i)">@i</a>
                        </li>
                    }

                    <!-- Nút Next -->
                    <li id="next" class="page-item">
                        <a class="page-link" href="javascript:void(0);" onclick="loadFoods(currentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    @*About Us*@
    <div class="w-100 h-auto" style="margin-bottom: 300px;">
        <div class="container  position-relative  h-75 py-5" style="background-color: #181818">
            @*About*@
            <div class="col-8">
                <div class="row h-25 py-5">
                    <h1 class="about-us text-center mt-3">About Us</h1>
                </div>
                @*About-modal*@
                <div class="row ml-30px h-75 gap-3">
                    <div class="about-us-modal h-auto col-4 mh-400">
                        <div class="about-us-title mb-4">
                            <p class="text-center my-3" style="font-size: 1.8rem">Organic food</p>
                        </div>
                        <div class="about-us-body m-3 mb-5" style="height: 300px">
                            <span style="line-height: 1.3rem; letter-spacing: .1rem">Organic farming not only promotes healthier eating but also supports the well-being of ecosystems and animal welfare.</span>
                        </div>
                    </div>
                    <div class="about-us-modal h-auto col-4 mt-8rem py-2rem">
                        <div class="about-us-title">
                            <p class="text-center my-3" style="font-size: 1.8rem">DIY 100%</p>
                        </div>
                        <div class="about-us-body m-3">
                            <span style="line-height: 1.3rem; letter-spacing: .1rem">Organic farming not only promotes healthier eating but also supports the well-being of ecosystems and animal welfare.</span>
                        </div>
                    </div>
                    <div class="about-us-modal h-auto col-4 mh-400">
                        <div class="about-us-title mb-4">
                            <p class="text-center my-3" style="font-size: 1.8rem">Fast & Clean</p>
                        </div>
                        <div class="about-us-body m-3 mb-5" style="height: 300px">
                            <span style="line-height: 1.3rem; letter-spacing: .1rem">Organic farming not only promotes healthier eating but also supports the well-being of ecosystems and animal welfare.</span>
                        </div>
                    </div>
                </div>
            </div>
            @*Iamge*@
            <div class="col-4">
                <div class="row w-100 h-100">
                    <img class="position-absolute end-0 top-minus-5" style="width: 300px; " src="~/assets/image/e8c927c1-7a4d-4b73-b3b5-b43b303ef3a0 1.png" />
                    <img class="position-absolute bottom-minus-5 end-5" style="width: 300px; " src="~/assets/image/Donut Wand_ DIY Donut Wall mit Erdnuss Donuts - Nicest Things 1.png" />
                    <img class="position-absolute top-25 end-14" style="width: 300px; " src="~/assets/image/Die 3 häufigsten Fehler beim Würzen _ freundin_de.png" />
                </div>
            </div>
        </div>
    </div>
    <script>
        const getPagedFoodsUrl = '@Url.Action("GetPagedFoods", "Home")';
        const getFoodDetailsUrl = '@Url.Action("GetFoodDetails", "Home")';
        let currentPage = @currentPage; // Trang hiện tại từ server
        const totalPages = @totalPages; // Tổng số trang từ server
    </script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/Index.js"></script>
    <script src="~/js/home.js"></script>
</body>
</html>


