@model IEnumerable<OnlineFood.Models.OrderSupply>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongNguyenLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNguyenLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donvi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNhaCungCapNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNhanVienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongNguyenLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguyenLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donvi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNhaCungCapNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNhanVienNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
