@model OnlineFood.Models.InfoFood

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InfoFood</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Songuyenlieucan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Songuyenlieucan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFoodNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFoodNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguyenLieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguyenLieuNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
