@model IEnumerable<OnlineFood.Models.Paymentdetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiatienTruoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotenKhachhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTienSau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKhachhangNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKuyenmaiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPaymentNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSanphamNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiatienTruoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotenKhachhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTienSau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKhachhangNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKuyenmaiNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaymentNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSanphamNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
